<div class="content">
    <div class="container-fluid">
        <div class="flex justify-content-between mb-2" style="display: flex;">
        <h4 class="page-title">Danh sách loại sản phẩm</h4>
        <a class="btn btn-primary mb-2" href="/categories/create">Tạo sản phẩm</a>
    </div>
        <div class="card">
            <div class="card-body">
                <table class="table table-head-bg-success">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Code</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% categories.forEach(function(categories, index){ %>
                        <tr>
                            <td><%=index%></td>
                            <td><img src="<%= categories.image %>" alt="" width="100px" height="100px"></td>
                            <td><%= categories.name %></td>
                            <td><%= categories.code %></td>
                            <td>
                            <a class="btn btn-primary btn-sm" href="/categories/update/<%=categories._id%>">Sửa</a>
                            <a class="btn btn-danger btn-sm" href="/categories/delete/<%=categories._id%>">Xóa</a>
                        </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>